@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #404040;
}

.logo img {
    width: 60px;
    height: 40px;
    margin: 5px 10px;
}

nav {
    position: relative;
}

.nav-bar {
    display: flex;
    margin-right: 10px;
}

.nav-bar li {
    position: relative;
    z-index: 1;
    width: 50px;
}

.nav-bar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #f2f2f2;
}

.icon {
    font-size: 28px;
    transition: .5s;
    line-height: 50px;
}

/* not display by default */
.text {
    position: absolute;
    font-size: 16px;
    transition: .5s;
    transform: scale(0);
}

.current .icon {
    font-size: 20px;
    transform: translateY(-2px);
}

.current .text {
    transform: scale(1);
}

.current-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    background-color: #a6a6a6;
    border-radius: 50%;
    box-shadow: 0 10px 15px #f2f2f2;
    transition: .5s;
}




