@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #404040;
}

.logo img {
    width: 60px;
    height: 50px;
    margin: 10px;
}

nav {
    position: relative;
}

.nav-bar {
    display: flex;
    margin-right: 10px;
}

.nav-bar li {
    position: relative;
    z-index: 1;
    width: 70px;
}

.nav-bar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #f2f2f2;
}

.icon {
    font-size: 28px;
    transition: .5s;
    line-height: 70px;
}

/* not display by default */
.text {
    position: absolute;
    font-size: 20px;
    transition: .5s;
    transform: scale(0);
}

.current {
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    background-color: #a6a6a6;
    border-radius: 50%;
    box-shadow: 0 10px 15px #a6a6a6;
    transition: .5s;
}

/* set up the change of icon when mouse over */
.current .icon {
    font-size: 20px;
    transform: translateY(-8px);
}

/* set up the change of text when mouse over */
.current .text {
    transform: scale(1);
    font-size: 10px;
    bottom: 10px;
}


.wrapper {
    margin-top: 70px;
    display: flex;
    width: 90vw;
    max-width: 1280px;
    height: 600px;
    overflow: hidden;
}

.wrapper div {
    position: relative;
    width: 60px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    transition: .5s cubic-bezier(.05, .61, .41, .95);
    overflow: hidden;
}

.shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: .5s cubic-bezier(.05, .61, .41, .95);
}

.active {
    flex: 1;
    margin: 0;
    border-radius: 40px;
}

.active .shadow {
    background: linear-gradient(to top, rgba(0, 0, 0, .35) 65%, transparent);
}







